In [2]:
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np

In [3]:
df2=pd.read_csv('pokemon_capture_flee.csv', sep=';')
df2=df2.dropna(subset='#').reset_index(drop=True)
df2=df2.drop_duplicates(subset='#', keep='first').reset_index(drop=True)
df2=df2.drop_duplicates(subset='Pokémon', keep='first').reset_index(drop=True)
df2['Base capture rate'] = (df2['Base capture rate'].str.replace('%', '', regex=False).astype(float)/100)
df2['Base flee rate'] = df2['Base flee rate'].str.replace('-', '0%') #myślnik oznacza brak zdefiniowanej wartości ucieczki - czyli ma 0% na ucieczkę
df2['Base flee rate'] = (df2['Base flee rate'].str.replace('%', '', regex=False).astype(float)/ 100)
df2.drop([904], axis=0, inplace=True) #axis=0 znaczy wiersz
df2

       #      Pokémon  Base capture rate  Base flee rate Movement type
0      1    Bulbasaur               0.20            0.10          Jump
1      2      Ivysaur               0.10            0.07          Jump
2      3     Venusaur               0.05            0.05          Jump
3      4   Charmander               0.20            0.10          Jump
4      5   Charmeleon               0.10            0.07          Jump
..   ...          ...                ...             ...           ...
899  901     Ursaluna               0.15            0.07          Jump
900  902  Basculegion               0.20            0.07      Hovering
901  903     Sneasler               0.30            0.10          Jump
902  904     Overqwil               0.30            0.10      Hovering
903  905     Enamorus               0.02            0.01      Hovering

[904 rows x 5 columns]

In [4]:
df2.to_csv('capture_flee_rate')