## DATABASE - ankieta wykonana przez redditora: https://www.reddit.com/r/pokemon/comments/c0w4s0/favourite_pok%C3%A9mon_survey_results/

## POMYSŁ

Wykres ma na celu sprawdzenie, czy pokemony uwielbiane przez respondentów mają tendencję do bycia silniejszymi (total)

In [ ]:
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np

In [8]:
df=pd.read_csv('pokemon_data.csv')
df=df.set_index('name')
df

,dexnum,generation,type1,type2,species,height,weight,ability1,ability2,hidden_ability,...,catch_rate,base_friendship,base_exp,growth_rate,egg_group1,egg_group2,percent_male,percent_female,egg_cycles,special_group
name,,,,,,,,,,,,,,,,,,,,,
Bulbasaur,1,1,Grass,Poison,Seed Pokémon,0.7,6.9,Overgrow,Chlorophyll,NaN,...,45,50,64,Medium Slow,Grass,Monster,87.5,12.5,20,Ordinary
Ivysaur,2,1,Grass,Poison,Seed Pokémon,1.0,13.0,Overgrow,Chlorophyll,NaN,...,45,50,142,Medium Slow,Grass,Monster,87.5,12.5,20,Ordinary
Venusaur,3,1,Grass,Poison,Seed Pokémon,2.0,100.0,Overgrow,Chlorophyll,NaN,...,45,50,236,Medium Slow,Grass,Monster,87.5,12.5,20,Ordinary
Charmander,4,1,Fire,NaN,Lizard Pokémon,0.6,8.5,Blaze,Solar Power,NaN,...,45,50,62,Medium Slow,Dragon,Monster,87.5,12.5,20,Ordinary
Charmeleon,5,1,Fire,NaN,Flame Pokémon,1.1,19.0,Blaze,Solar Power,NaN,...,45,50,142,Medium Slow,Dragon,Monster,87.5,12.5,20,Ordinary
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
Raging Bolt,1021,9,Electric,Dragon,Paradox Pokémon,5.2,480.0,Protosynthesis,NaN,NaN,...,10,—,—,Slow,Undiscovered,NaN,NaN,NaN,—,Ancient Paradox
Iron Boulder,1022,9,Rock,Psychic,Paradox Pokémon,1.5,162.5,Quark Drive,NaN,NaN,...,10,—,—,Slow,Undiscovered,NaN,NaN,NaN,—,Future Paradox
Iron Crown,1023,9,Steel,Psychic,Paradox Pokémon,1.6,156.0,Quark Drive,NaN,NaN,...,10,—,—,Slow,Undiscovered,NaN,NaN,NaN,—,Future Paradox
Terapagos,1024,9,Normal,NaN,Tera Pokémon,0.2,6.5,Tera Shift,NaN,NaN,...,255,—,—,Slow,Undiscovered,NaN,50.0,50.0,—,Legendary
Pecharunt,1025,9,Poison,Ghost,Subjugation Pokémon,0.3,0.3,Poison Puppeteer,NaN,NaN,...,3,—,—,Slow,Undiscovered,NaN,NaN,NaN,—,Mythical

In [10]:
favs=pd.read_excel('pokemon_favourites.xlsx')
favs=favs.set_index('name')

In [11]:
favs

             number of votes
name
Bulbasaur                710
Ivysaur                   83
Venusaur                 127
Charmander               374
Charmeleon                70
...                      ...
Stakataka                 13
Blacephalon                8
Zeraora                   17
Meltan                     3
Melmetal                  13

[809 rows x 1 columns]

In [14]:
favs.nlargest(10, 'number of votes')

           number of votes
name
Charizard             1107
Gengar                1056
Arcanine               923
Bulbasaur              710
Blaziken               613
Umbreon                607
Lucario                604
Gardevoir              585
Eevee                  581
Dragonite              551