In [4]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [10]:
main=pd.read_csv('pokemon_data.csv')
main

,dexnum,name,generation,type1,type2,species,height,weight,ability1,ability2,...,catch_rate,base_friendship,base_exp,growth_rate,egg_group1,egg_group2,percent_male,percent_female,egg_cycles,special_group
0,1,Bulbasaur,1,Grass,Poison,Seed Pokémon,0.7,6.9,Overgrow,Chlorophyll,...,45,50,64,Medium Slow,Grass,Monster,87.5,12.5,20,Ordinary
1,2,Ivysaur,1,Grass,Poison,Seed Pokémon,1.0,13.0,Overgrow,Chlorophyll,...,45,50,142,Medium Slow,Grass,Monster,87.5,12.5,20,Ordinary
2,3,Venusaur,1,Grass,Poison,Seed Pokémon,2.0,100.0,Overgrow,Chlorophyll,...,45,50,236,Medium Slow,Grass,Monster,87.5,12.5,20,Ordinary
3,4,Charmander,1,Fire,NaN,Lizard Pokémon,0.6,8.5,Blaze,Solar Power,...,45,50,62,Medium Slow,Dragon,Monster,87.5,12.5,20,Ordinary
4,5,Charmeleon,1,Fire,NaN,Flame Pokémon,1.1,19.0,Blaze,Solar Power,...,45,50,142,Medium Slow,Dragon,Monster,87.5,12.5,20,Ordinary
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1020,1021,Raging Bolt,9,Electric,Dragon,Paradox Pokémon,5.2,480.0,Protosynthesis,NaN,...,10,—,—,Slow,Undiscovered,NaN,NaN,NaN,—,Ancient Paradox
1021,1022,Iron Boulder,9,Rock,Psychic,Paradox Pokémon,1.5,162.5,Quark Drive,NaN,...,10,—,—,Slow,Undiscovered,NaN,NaN,NaN,—,Future Paradox
1022,1023,Iron Crown,9,Steel,Psychic,Paradox Pokémon,1.6,156.0,Quark Drive,NaN,...,10,—,—,Slow,Undiscovered,NaN,NaN,NaN,—,Future Paradox
1023,1024,Terapagos,9,Normal,NaN,Tera Pokémon,0.2,6.5,Tera Shift,NaN,...,255,—,—,Slow,Undiscovered,NaN,50.0,50.0,—,Legendary
1024,1025,Pecharunt,9,Poison,Ghost,Subjugation Pokémon,0.3,0.3,Poison Puppeteer,NaN,...,3,—,—,Slow,Undiscovered,NaN,NaN,NaN,—,Mythical

In [16]:
capt=pd.read_csv('capture_flee_rate')
capt

,Unnamed: 0,#,Pokémon,Base capture rate,Base flee rate,Movement type
0,0,1,Bulbasaur,0.20,0.10,Jump
1,1,2,Ivysaur,0.10,0.07,Jump
2,2,3,Venusaur,0.05,0.05,Jump
3,3,4,Charmander,0.20,0.10,Jump
4,4,5,Charmeleon,0.10,0.07,Jump
...,...,...,...,...,...,...
899,899,901,Ursaluna,0.15,0.07,Jump
900,900,902,Basculegion,0.20,0.07,Hovering
901,901,903,Sneasler,0.30,0.10,Jump
902,902,904,Overqwil,0.30,0.10,Hovering
903,903,905,Enamorus,0.02,0.01,Hovering

In [13]:
evol=pd.read_csv('evolution_stage_map.csv')
evol

              name  Evolution_Stage
0        Bulbasaur                1
1          Ivysaur                2
2         Venusaur                3
3       Charmander                1
4       Charmeleon                2
...            ...              ...
1011  Walking-wake                1
1012   Iron-leaves                1
1013  Poltchageist                1
1014     Sinistcha                2
1015       Okidogi                1

[1016 rows x 2 columns]

In [ ]:
## POLACZYC DATABASE W JEDEN