In [26]:
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np

In [35]:
df=pd.read_csv('compressed_captions.csv')
df

,image,caption
0,dataset/images/1.png,a small amphibian Pokémon has blue-green skin ...
1,dataset/images/2.png,"Ivysaur has a short, rounded snout with a wide..."
2,dataset/images/3.png,"a squat, quadrupedal amphibian Pokémon has bum..."
3,dataset/images/4.png,"a bipedal, reptilian Pokémon with a primarily ..."
4,dataset/images/5.png,it has dark red scales and a cream underside f...
...,...,...
1020,dataset/images/1021.png,"is a massive quadrupedal, yellow, sauropod-lik..."
1021,dataset/images/1022.png,"is a spherical, bull-like Pokémon coated in a ..."
1022,dataset/images/1023.png,the top of its luminous head has two yellow me...
1023,dataset/images/1024.png,a small reptilian Pokémon resembles an indigo ...
1024,dataset/images/1025.png,it has two forms it can take inside and outsid...

In [36]:
df1=df['caption'].reset_index()
df1=df1.rename(columns = {'index':'dexnum'})
df1['dexnum']=df1['dexnum']+1
df1

      dexnum                                            caption
0          1  a small amphibian Pokémon has blue-green skin ...
1          2  Ivysaur has a short, rounded snout with a wide...
2          3  a squat, quadrupedal amphibian Pokémon has bum...
3          4  a bipedal, reptilian Pokémon with a primarily ...
4          5  it has dark red scales and a cream underside f...
...      ...                                                ...
1020    1021  is a massive quadrupedal, yellow, sauropod-lik...
1021    1022  is a spherical, bull-like Pokémon coated in a ...
1022    1023  the top of its luminous head has two yellow me...
1023    1024  a small reptilian Pokémon resembles an indigo ...
1024    1025  it has two forms it can take inside and outsid...

[1025 rows x 2 columns]

In [37]:
df1['caption']=df1['caption'].str.split()
df1

      dexnum                                            caption
0          1  [a, small, amphibian, Pokémon, has, blue-green...
1          2  [Ivysaur, has, a, short,, rounded, snout, with...
2          3  [a, squat,, quadrupedal, amphibian, Pokémon, h...
3          4  [a, bipedal,, reptilian, Pokémon, with, a, pri...
4          5  [it, has, dark, red, scales, and, a, cream, un...
...      ...                                                ...
1020    1021  [is, a, massive, quadrupedal,, yellow,, saurop...
1021    1022  [is, a, spherical,, bull-like, Pokémon, coated...
1022    1023  [the, top, of, its, luminous, head, has, two, ...
1023    1024  [a, small, reptilian, Pokémon, resembles, an, ...
1024    1025  [it, has, two, forms, it, can, take, inside, a...

[1025 rows x 2 columns]

In [38]:
import re

# Lambda przechodzi przez każdy wiersz (row), a potem list comprehension przez każde słowo (x) -> zobaczyć jak działa re!
df1['caption'] = df1['caption'].apply(lambda row: [re.sub(r'[^\w\s]', '', x).lower() for x in row])

In [39]:
df1

      dexnum                                            caption
0          1  [a, small, amphibian, pokémon, has, bluegreen,...
1          2  [ivysaur, has, a, short, rounded, snout, with,...
2          3  [a, squat, quadrupedal, amphibian, pokémon, ha...
3          4  [a, bipedal, reptilian, pokémon, with, a, prim...
4          5  [it, has, dark, red, scales, and, a, cream, un...
...      ...                                                ...
1020    1021  [is, a, massive, quadrupedal, yellow, sauropod...
1021    1022  [is, a, spherical, bulllike, pokémon, coated, ...
1022    1023  [the, top, of, its, luminous, head, has, two, ...
1023    1024  [a, small, reptilian, pokémon, resembles, an, ...
1024    1025  [it, has, two, forms, it, can, take, inside, a...

[1025 rows x 2 columns]

In [41]:
# 'explode' rozbija listę w kolumnie 'caption' na osobne wiersze
df_words_all = df1.explode('caption')

# Opcjonalnie: resetujemy indeks, aby wiersze były numerowane po kolei (0, 1, 2...)
# zamiast powielania starego indeksu
df_words_all = df_words_all.reset_index(drop=True)

df_words_all

       dexnum    caption
0           1          a
1           1      small
2           1  amphibian
3           1    pokémon
4           1        has
...       ...        ...
34691    1025       face
34692    1025        are
34693    1025        two
34694    1025      white
34695    1025   semicirc

[34696 rows x 2 columns]

In [42]:
df1['caption'] = df1['caption'].apply(lambda x: [word for word in x if len(word) > 3])

In [43]:
# 'explode' rozbija listę w kolumnie 'caption' na osobne wiersze
df_words = df1.explode('caption')

# Opcjonalnie: resetujemy indeks, aby wiersze były numerowane po kolei (0, 1, 2...)
# zamiast powielania starego indeksu
df_words = df_words.reset_index(drop=True)

df_words

       dexnum    caption
0           1      small
1           1  amphibian
2           1    pokémon
3           1  bluegreen
4           1       skin
...       ...        ...
21303    1025       into
21304    1025     halves
21305    1025       face
21306    1025      white
21307    1025   semicirc

[21308 rows x 2 columns]